page-rate {
  h3{
    font-size: 1.5rem;
  }
  #rate-checks{
    .item.item-block{
      padding-left: 0px;
    }
    ion-list{
      width: 100%;
      margin: 0;
    }
    ion-row{
      width: 100%;
    }
    .item.item-list-header{
      padding-left: 0px;
    }
  }
}
