page-menu {

  ion-content{
    background-color: black;
  }

  .full-width-card{
    position: relative;
    text-align: center;
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
        .card-title {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0%;
        font-weight: 100;
        font-size: 3.5em;
        width: 100%;
        height: 100%;
        color: #fff;
        font-variant: all-petite-caps;
        letter-spacing: 9px;
        background-color: rgba(0, 0, 0, 0.5);
      }
    img{
      width: 100%;
      height: 100%;
    }

  }

  ion-grid{
    background-color: black;
  }

  ion-slides{
    height: 150px;
    background-color: white;
    display: none;
  }
  .tabbar{
    display: none;
  }
}
